<div class="about">
  <div class="about__component wrapper">
    <div class="right_comp">
      <div class="_left">
        <div class="_head">
          <img src="../../../assets/bar.svg" alt="bar" />
          <h4>about kivicare</h4>
        </div>

        <div class="welcome_msg">
          <h2>Welcome To KiviCare</h2>
          <p>Central Hospital</p>
        </div>

        <p>
          It is a long established fact that a reader will be distracted by the
          readable content.
        </p>
      </div>

      <div class="op_time">
        <div class="_time">
          <img src="../../../assets/clock.svg" alt="clock_icon" />
          <span>Opening Time</span>
          <div class="border">
            <p>Monday - Friday</p>
            <p style="width: fit-content">6:00 - 7:00 pm</p>
          </div>
          <div class="border">
            <p>Saturday</p>
            <p style="width: fit-content">9:00 - 8:00 pm</p>
          </div>
          <div style="padding: 10px 0">
            <p>Sunday</p>
            <p>10:00 - 9:00 pm</p>
          </div>
        </div>
      </div>
    </div>

    <div class="_mid">
      <div class="mid_comp">
        <div>
          <img src="../../../assets/check.svg" alt="check_icon" />
          <p>Treats minor illnesses</p>
        </div>
        <div>
          <img src="../../../assets/check.svg" alt="check_icon" />
          <p>Answers health questions</p>
        </div>
        <div>
          <img src="../../../assets/check.svg" alt="check_icon" />
          <p>Conduct health checkups</p>
        </div>
        <div>
          <img src="../../../assets/check.svg" alt="check_icon" />
          <p>Perform routine health tests</p>
        </div>
        <div>
          <img src="../../../assets/check.svg" alt="check_icon" />
          <p>Orthopaedic surgeon</p>
        </div>
        <div>
          <img src="../../../assets/check.svg" alt="check_icon" />
          <p>Endocrinologist</p>
        </div>
      </div>

      <div class="_name">
        <h3>Briar Ford</h3>
        <p>CEO & Founder</p>
      </div>

      <button class="_btn">get appointment<span>+</span></button>
    </div>

    <div class="_right">
      <img src="../../../assets/doctor.jpg" alt="" />
    </div>
  </div>
</div>
