<div class="_footer">
  <div class="_left">
    <img src="../../../assets/app_logo.png" alt="logo" />
    <h4>Newslatter</h4>
    <p>
      It is long established that a reader will be distracted by the readable
      content.
    </p>
    <div>
      <input type="email" placeholder="Enter your email" />
      <!-- icon -->
    </div>
  </div>

  <div class="_links">
    <h4>Useful Links</h4>
    <div>
      <p><span> > </span>About Us</p>
      <p><span> > </span>Appointment</p>
      <p><span> > </span>Service</p>
      <p><span> > </span>Contact Us</p>
    </div>
  </div>

  <div class="_working_days">
    <h4>Working Days</h4>
    <div class="_days">
      <div class="_border">
        <p>Weekdays</p>
        <p style="color: var(--pram)">09:00 - 20:00</p>
      </div>
      <div class="_border">
        <p>Friday</p>
        <p style="color: var(--pram)">09:00 - 20:00</p>
      </div>
      <div class="_border">
        <p>Saturday</p>
        <p style="color: var(--pram)">10:00 - 18:00</p>
      </div>
      <div>
        <p>Sunday</p>
        <p style="color: var(--pram)">Closed</p>
      </div>
    </div>
  </div>

  <div class="_contact">
    <h4>Reach Us</h4>
    <div>
      <img src="../../../assets/location.png" alt="" />
      <p>+(234)-344-4434</p>
    </div>
    <div>
      <img src="../../../assets/location.png" alt="" />
      <p>support@example.com</p>
    </div>
    <div>
      <img src="../../../assets/location.png" alt="" />
      <p>1234 North Avenue Luke Lane South Bend, IN 360001</p>
    </div>
  </div>
</div>

<div class="copy">
  <p>Copyright 2022 Kivicare. All Rights Reserved.</p>
</div>
