<div class="why_choose">
  <div class="_component wrapper">
    <div class="_first">
      <div>
        <img src="../../../assets/bar.svg" alt="bar_icon" />
        <p>why choose us</p>
      </div>
      <p class="_reason">Why People Trust Kivicare <span>Treatment</span></p>
      <p class="_desc">
        It is a long established facts that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
    </div>

    <div class="_second">
      <div class="_card">
        <img src="../../../assets/icon3.png" alt="doctor_icon" />
        <h3>Qualified Doctors</h3>
        <p>
          a person who holds a degree recognised by the Medical Councel is
          registerd
        </p>
        <div class="_btn">
          <button>read more<span>+</span></button>
        </div>
      </div>

      <div class="_card">
        <img src="../../../assets/icon2.png" alt="doctor_icon" />
        <h3>Trusted Treatment</h3>
        <p>
          Kivicare has many types of treatment to relieve symptoms of all kind
          illness.
        </p>
        <div class="_btn">
          <button>read more<span>+</span></button>
        </div>
      </div>

      <div class="_card">
        <img src="../../../assets/icon1.png" alt="doctor_icon" />
        <h3>24/7 Services</h3>
        <p>
          Kivicare is at your service 24x7 aiming to provide the best services
          to their patience.
        </p>
        <div class="_btn">
          <button>read more<span>+</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
