<div class="our_doctors">
  <div class="_first">
    <div class="_head">
      <img src="../../../assets/bar.svg" alt="bar_icon" />
      <p>Doctors</p>
    </div>
    <p class="_reason">We Provide Medical <span>Services</span></p>
  </div>

  <div class="_component">
    <div>
      <img src="../../../assets/doctor1.jpg" alt="doctor_img" />
      <h4>Gunner Peha</h4>
      <p>cardiologist</p>
    </div>

    <div>
      <img src="../../../assets/doctor2.jpg" alt="doctor_img" />
      <h4>Damian Melcher</h4>
      <p>Gynecologist</p>
    </div>

    <div>
      <img src="../../../assets/doctor3.jpg" alt="doctor_img" />
      <h4>Lewis Scobee</h4>
      <p>cardiologist</p>
    </div>
  </div>
</div>
