.our_doctors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 3em;
  gap: 50px;
}

._first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
._reason {
  font-size: 2rem;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    margin: 0 0 4px;
    text-align: center;
    line-height: 0.995;
  }

  span {
    font-weight: 200;
  }
}
._head {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  margin: 0;

  img {
    width: 20px;
  }
  p {
    font-size: medium;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--pram);

    @media screen and (max-width: 768px) {
      margin: 0 0 4px;
    }
  }
}

._component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
    }

    h4 {
      font-size: 1.4em;
      margin: 14px 0 4px;
      font-weight: 500;
    }

    p {
      font-size: 0.9em;
      text-transform: uppercase;
      font-weight: 500;
      color: gray;
    }
  }
}
