<div class="_patient_reg">
  <div class="_main_reg">
    <div class="_sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="_main">
      <div class="_header">
        <img class="_menu" src="../../../assets/side_menu.png" alt="menu" />
        <div>
          <p>Admin IT</p>
          <div>
            <img
              class="_person"
              src="../../../assets/personIll.png"
              alt="person_icon"
            />
            <p>v</p>
          </div>
          <img src="../../../assets/x.svg" alt="" />
        </div>
      </div>
      <main-patient-registration></main-patient-registration>
    </div>
  </div>
</div>
