<div class="toolbar">
  <div class="top_item">
    <span>
      <img src="../assets/call.png" alt="telephone_icon" />
      <p>+(234) 567-8910</p>
    </span>
    <span>
      <img src="../assets/location.png" alt="location_icon" />
      <p>North Avenue Luke Lane</p>
    </span>
  </div>

  <div class="top_item">
    <p>Follow us:</p>
    <span class="social_icons">
      <img src="../assets/facebook.svg" alt="facebook_icon" />
      <img src="../assets/twitter.svg" alt="twitter_icon" />
      <img src="../assets/instagram.svg" alt="instagram_icon" />
    </span>
  </div>
</div>
