<div class="services">
  <div class="_component">
    <div class="_first">
      <div>
        <img src="../../../assets/bar.svg" alt="" />
        <p>services</p>
      </div>

      <p class="_reason">We Provide Medical <span>Services</span></p>
      <p class="_desc">
        It is a long established facts that a reader will be distracted by the
        readable content of a page when looking at its layout.
      </p>
      <button>all services<span>+</span></button>
    </div>

    <div class="_bg_img">
      <img src="../../../assets/d.png" alt="" />
    </div>
  </div>

  <div class="_services_card">
    <div class="_card">
      <img src="../../../assets/icon2.png" alt="" />
      <h3>Family Consultation</h3>
      <p>
        It is a long established facts that a will be distracted by the readable
        content of a page looking at its layout.
      </p>
      <button>read more<span>+</span></button>
    </div>

    <div class="_card">
      <img src="../../../assets/icon2.png" alt="" />
      <h3>Home Health Services</h3>
      <p>
        It is a long established facts that a will be distracted by the readable
        content of a page looking at its layout.
      </p>
      <button>read more<span>+</span></button>
    </div>

    <div class="_card">
      <img src="../../../assets/icon2.png" alt="" />
      <h3>Minor Procedures</h3>
      <p>
        It is a long established facts that a will be distracted by the readable
        content of a page looking at its layout.
      </p>
      <button>read more<span>+</span></button>
    </div>
  </div>
</div>
