<div class="_sidebar">
  <img src="../../../assets/app_logo.png" alt="logo" />

  <div class="_component">
    <div class="_home_">
      <img src="../../../assets/side_home.png" alt="" />
      <p>Dashboard</p>
    </div>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/side_new_reg.png" alt="icon" />
            <mat-panel-title> Patient Registration </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/side_health.png" alt="icon" />
            <mat-panel-title> Clinical Management </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/side_emergency.png" alt="icon" />
            <mat-panel-title> Emergency</mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/side_hand_treat.png" alt="icon" />
            <mat-panel-title> Procedure Room </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/side_patient.png" alt="icon" />
            <mat-panel-title> Operation Theatre </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> In-Patient Management </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/side_nurse.png" alt="icon" />
            <mat-panel-title> Nurse Station </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Mental Health </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Antenatal Care </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Accounts and Revenue </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Insurance and eclaim </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> phlebotomy</mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/side_lab.png" alt="icon" />
            <mat-panel-title> Laboratory</mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/side_blood.png" alt="icon" />
            <mat-panel-title> Blood Bank </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/siderad.png" alt="icon" />
            <mat-panel-title> Radiology</mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Linen and Loundry </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Discharge Summary </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Mortuary Management </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Feedback Management </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Inventory</mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/side_mrd.png" alt="icon" />
            <mat-panel-title> MRD </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> MIS Reports </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Inventory Setup</mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Custom Template </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> System Control </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <div class="mat-content">
            <img src="../../../assets/surgion.png" alt="icon" />
            <mat-panel-title> Security and Audit </mat-panel-title>
          </div>
        </mat-expansion-panel-header>
        <p>Patient Registration</p>
        <p>Patient Search</p>
        <p>Patient Record Verification</p>
        <p>Patient Referral</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
