<div class="_main_dash">
  <div class="_component">
    <div class="_categ">
      <img src="../../../assets/registration.png" alt="icon" />
      <p>Patient Registration</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/clinical.png" alt="icon" />
      <p>clinical management</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/emergency.png" alt="icon" />
      <p>emergency</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/proc" alt="icon" />
      <p>procedure room</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/surgion.png" alt="icon" />
      <p>operation theatre</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/surgion.png" alt="icon" />
      <p>in-patient management</p>
    </div>

    <div class="_categ">
      <img src="../../../assets/nurse.png" alt="icon" />
      <p>nurse station</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/mental.png" alt="icon" />
      <p>mental health</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/antenatal.png" alt="icon" />
      <p>antenatal care</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/revenue.png" alt="icon" />
      <p>accounts and revenue</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/eclaim.png" alt="icon" />
      <p>ensurance and eclaim</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/surgion.png" alt="icon" />
      <p>phlebotomy</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/laboratory.png" alt="icon" />
      <p>laboratory</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/blood.png" alt="icon" />
      <p>blood bank</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/radiology.png" alt="icon" />
      <p>radiology</p>
    </div>

    <div class="_categ">
      <img src="../../../assets/linen.png" alt="icon" />
      <p>linen and loundry</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/summary.png" alt="icon" />
      <p>discharge summary</p>
    </div>

    <div class="_categ">
      <img src="../../../assets/mortuary.png" alt="icon" />
      <p>mortuary management</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/feedback.png" alt="icon" />
      <p>feedback management</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/inventory.png" alt="icon" />
      <p>inventory</p>
    </div>

    <div class="_categ">
      <img src="../../../assets/mrd.png" alt="icon" />
      <p>mrd</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/sales-report.png" alt="icon" />
      <p>mis reports</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/inventory_setup.png" alt="icon" />
      <p>inventory setup</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/custom.png" alt="icon" />
      <p>custom template</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/system.png" alt="icon" />
      <p>system control</p>
    </div>
    <div class="_categ">
      <img src="../../../assets/security.png" alt="icon" />
      <p>security and audit</p>
    </div>
  </div>
</div>
