<div class="testimonials">
  <div class="_component wrapper">
    <div class="_first">
      <div class="_head">
        <img src="../../../assets/bar.svg" alt="bar_icon" />
        <p>testimonials</p>
      </div>
      <p class="_reason">What Our Patients <span>Says</span></p>
    </div>

    <div class="_second">
      <div class="_left">
        <p>
          "You can't go wrong here. I recieved the best care and attention here.
          The nursing staff and doctors are amazing and take there time with
          you. I felt better walking out here every time."
        </p>
        <div class="_bio">
          <img src="../../../assets/client1.jpg" alt="client_img" />
          <div>
            <h4>Moric Horgon</h4>
            <p>Patient</p>
          </div>
        </div>

        <!-- <div>
          <div>
            <span>1</span>
            <div></div>
            <span>1</span>
          </div>

          <div>
            <span><-</span>
            <span>-></span>
          </div>
        </div> -->
      </div>

      <div class="_right">
        <div class="_right_stat">
          <img src="../../../assets/twitter.svg" alt="icon" />
          <div>
            <h3>2050+</h3>
            <p>satisfied Patients</p>
          </div>
        </div>

        <div class="_right_stat">
          <img src="../../../assets/twitter.svg" alt="icon" />
          <div>
            <h3>15+</h3>
            <p>health sections</p>
          </div>
        </div>

        <div class="_right_stat">
          <img src="../../../assets/twitter.svg" alt="icon" />
          <div>
            <h3>45+</h3>
            <p>award won</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
