<div class="blog">
  <div class="_component">
    <div class="_first">
      <div class="_head">
        <img src="../../../assets/bar.svg" alt="bar_icon" />
        <p>blog</p>
      </div>
      <p class="_reason">Stay Updated With Our Latest <span>Articles</span></p>
    </div>

    <div class="_mid">
      <div class="_left">
        <div class="_bg">
          <img src="../../../assets/b1.jpg" alt="bg_img" />
        </div>
        <div class="_blog_desc">
          <p>eye care</p>
          <div class="_post_desc">
            <img src="../../../assets/instagram.svg" alt="icon" />
            <span>october, 6 2020</span>
            <img src="../../../assets/person.svg" alt="icon" />
            <span>admin</span>
          </div>
          <h4>The Most Common Problems?</h4>
          <button class="_btn_r">Read more<span>+</span></button>
        </div>
      </div>

      <div class="_right">
        <div class="_blog">
          <div class="_comp">
            <p>disease</p>
            <div class="_post_desc">
              <img src="../../../assets/instagram.svg" alt="icon" />
              <span>october, 6 2020</span>
              <img src="../../../assets/person.svg" alt="icon" />
              <span>admin</span>
            </div>
            <h4>Will I Need More Medical Tests?</h4>
            <button class="_btn_r">Read more<span>+</span></button>
          </div>
          <div class="_bg">
            <img src="../../../assets/b2.jpg" alt="bg_img" />
          </div>
        </div>

        <div class="_blog">
          <div class="_comp">
            <p>health care</p>
            <div class="_post_desc">
              <img src="../../../assets/instagram.svg" alt="icon" />
              <span>october, 6 2020</span>
              <img src="../../../assets/person.svg" alt="icon" />
              <span>admin</span>
            </div>
            <h4>Are Short Workouts Worth It?</h4>
            <button class="_btn_r">Read more<span>+</span></button>
          </div>
          <div class="_bg">
            <img src="../../../assets/b3.jpg" alt="bg_img" />
          </div>
        </div>
      </div>
    </div>

    <button class="_btn">load more<span>+</span></button>
  </div>
</div>
