.main_registration {
  width: 100%;
  margin-left: 1.3em;
}
.main_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.main_body {
  background: whitesmoke;
  padding: 1em 0.5em;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.35);
}

._first_section {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  ._label {
    width: 10em;
  }

  .patient_img {
    border-radius: 50%;
    height: 80px;
  }
}
._input {
  display: flex;
  align-items: center;
  gap: 14px;

  label {
    width: 5em;
  }

  ._icons {
    display: flex;
    align-items: center;
  }
}

._second_section {
  margin-bottom: 20px;
  ._details {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 10px;
  }

  h3 {
    border-bottom: 1px solid rgb(196, 196, 196);
  }
}

._dropdown {
  width: 5em;
}

._third_section {
  margin-bottom: 20px;
  ._details {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  h3 {
    border-bottom: 1px solid rgb(196, 196, 196);
  }
}

._fourth_section {
  margin-bottom: 20px;
  ._details {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  h3 {
    border-bottom: 1px solid rgb(196, 196, 196);
  }
}
