<div class="main_registration">
  <div class="main_header">
    <h3>Patient Registration</h3>
    <div>
      <img src="../../../assets/check.svg" alt="check_icon" />
      <img src="../../../assets/check.svg" alt="check_icon" />
      <img src="../../../assets/check.svg" alt="check_icon" />
    </div>
  </div>
  <div class="main_body">
    <div class="_first_section">
      <div class="_input">
        <label class="_label" for="reg_number">Registration Number</label>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Reg No.</mat-label>
            <input matInput placeholder="Placeholder" />
          </mat-form-field>
        </p>
        <div class="_icons">
          <div>
            <img src="../../../assets/check.svg" alt="" />
          </div>
          <div>
            <img src="../../../assets/check.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="_input">
        <label for="reg_date">Reg Date</label>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>(MM/DD/YYYY) or click icon</mat-label>
            <input matInput [matDatepicker]="picker" />
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker> </mat-datepicker>
          </mat-form-field>
        </p>
      </div>

      <div class="_input">
        <mat-checkbox [color]=""> New Born </mat-checkbox>
      </div>
      <img
        class="patient_img"
        src="../../../assets/personIll.png"
        alt="patient_img"
      />
    </div>

    <div class="_second_section">
      <h3>Personal Details</h3>

      <div class="_details">
        <div class="_input">
          <label for="reg_number">First Name</label>
          <p>
            <mat-form-field class="_dropdown" appearance="outline">
              <mat-label>Title</mat-label>
              <mat-select>
                <mat-option value="mr"> Mr </mat-option>
                <mat-option value="mr"> Eng </mat-option>
                <mat-option value="mr"> Dr </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Patient Name</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="reg_number">Middle Name</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Middle Name</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="reg_number">Last Name</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="reg_number">Date of Birth</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Choose date or click icon</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker> </mat-datepicker>
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="gender">Gender</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="mr"> Male </mat-option>
              <mat-option value="mr"> Female </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="_input">
          <label for="gender">Marital Status</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="mr"> Single </mat-option>
              <mat-option value="mr"> Married </mat-option>
              <mat-option value="mr"> Divorced </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="_input">
          <label for="gender">Occipation</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="mr"> Mechanic </mat-option>
              <mat-option value="mr"> Gov't Worker </mat-option>
              <mat-option value="mr"> Entreprenue </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="_input">
          <label for="gender">Language</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="mr"> English </mat-option>
              <mat-option value="mr"> Igbo </mat-option>
              <mat-option value="mr"> Hause </mat-option>
              <mat-option value="mr"> Yoroba </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="_input">
          <label for="gender">Education Level</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="mr"> High School </mat-option>
              <mat-option value="mr"> Undergraduate </mat-option>
              <mat-option value="mr"> Graduate </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="_input">
          <label for="gender">Religion</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="mr"> Muslim </mat-option>
              <mat-option value="mr"> Christian </mat-option>
              <mat-option value="mr"> Hindu </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="_input">
          <label for="gender">Citizen</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="mr"> Nigeria </mat-option>
              <mat-option value="mr"> Ghana </mat-option>
              <mat-option value="mr"> Cameroon </mat-option>
              <mat-option value="mr"> Niger </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="_input">
          <label for="email">Email Id</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Email Id</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>
      </div>
    </div>

    <div class="_third_section">
      <h3>Home Address</h3>

      <div class="_details">
        <div class="_input">
          <label for="address">Address</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="Surburb">Surburb</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Surburb</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="city">City</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="country">Country</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="country_code">Code</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Code</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="telephone">Telephone</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Telephone</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>
      </div>
    </div>

    <div class="_fourth_section">
      <h3>Next of King</h3>

      <div class="_details">
        <div class="_input">
          <label for="name">Next of King Name</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Next of King Name</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="relation">Relation</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="mr"> Brother</mat-option>
              <mat-option value="mr"> Mother </mat-option>
              <mat-option value="mr"> Son </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="_input">
          <label for="telephone">Telephone</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Telephone</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="address">Address</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="city">City</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="country">Country</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>

        <div class="_input">
          <label for="country_code">Code</label>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Code</mat-label>
              <input matInput placeholder="Placeholder" />
            </mat-form-field>
          </p>
        </div>
      </div>
    </div>

    <div class="_fourth_section">
      <h3>Payer Information</h3>

      <div class="_details">
        <div class="_input">
          <label for="payer">Payer</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="NHIS"> NHIS</mat-option>
              <mat-option value="PRIVATE CASH"> PRIVIATE CASH </mat-option>
              <mat-option value="PRIVATE/COMPANY INSURED">
                PRIVATE/COMPANY INSURED
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="_input">
          <label for="sponsor">Sponsor</label>
          <mat-form-field appearance="outline">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="NHIS"> NHIS</mat-option>
              <mat-option value="PRIVATE CASH"> PRIVIATE CASH </mat-option>
              <mat-option value="PRIVATE/COMPANY INSURED">
                PRIVATE/COMPANY INSURED
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
